.array-values {
    display: flex;
}
.section-array {
    border: 1px solid #61dafb;
    padding: 10px;
}
.length-array > .section-array {
    background: #ffd200;
}
.ul-view-result > li > span {
    color: #ffd200;
}